*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'custom-lato';
    src: url('./font/font/Lato-Bold.ttf')format('truetype'),
    url('./font//font/lato-regular-webfont.woff')format('woff'),
    url('./font//font/lato-regular-webfont.woff2')format('woff2'),
    url('./font//font/Lato-Regular.ttf')format('truetype');
}
body{
    font-family: 'custom-lato', sans-serif;
}
.container{
    width: 90%;
    max-width: 470px;
    background:linear-gradient(135deg,#00feba,#5b548a);
    color: #fff;
    margin: 50px auto 50px auto;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.input-holder{
    display: flex;
    justify-content: space-between;
    
    
}
.input-holder input{
    outline: 0;
    border: 0;
    width: 43%;
    height: 40px;
    border-radius: 30px;
    padding: 20px;
}
 .input-holder input::placeholder{
    /* transform: translateX(-25px); */
    /* color: red; */
    text-align: center;
}
.input-holder button{
    width: 8%;
    height: 40px;
    border-radius: 50%;
    outline: 0;
    border: 0;
}
.input-holder button img{
    width: 60%;
    height: 60%;
}
.errormessage{
    display: none;
    color: red;
}
.weather-condition{
    padding: 30px;
    height:400px;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}
.weather-condition p{
    color: white;
}
.weather-condition img{
    width: 150px;
    height: 150px;
}
.weather-condition h1{
    margin-top: 10px;
    font-size: 4rem;
}
.weather-condition h2{
    font-size: 2rem;
}
.other-info-container{
    display: flex;
    justify-content: space-between;
    height: 20px;
    padding: 0 20px 10px 10px;
}
.other-info{
    display: flex;
   
}
.other-info img{
    width:40px;
    height: 40px;
}
.other-info-detail{
    text-align: left;
     margin-left: 10px;
}